@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  "Noto Sans Display", sans-serif;
}
html{
scroll-behavior: smooth;
}
h1{
         position: relative;
    font-size: calc(20px + 2vw);
    line-height: 1.25;

}
h2{
font-size: calc(1px + 2vw);
}
h3{
position: relative;
font-size: calc(-1px + 2vw);
line-height: 1.5;
}
p{
        position: relative;
text-align: justify;
    font-size: calc(2vw - 6px);
    line-height: 1.625;
}
a {
text-decoration: none;

}


ul{
list-style-type: none;
}
nav{
        position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 1400px;
    align-items: center;


}
button{
border-radius: 40px;
cursor: pointer;

}
input{
border-radius: 50px;
}


img{
width: 100%;
}
footer{
      background-color: #6415ff;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    max-height: 300px;
}
#treact{
      margin: 0px 40px;}
#templates,
#profession,
#sale,
#values,
#pricing,
#testimonial,
#steps
{
margin-bottom: 60px;
}
#cta{
       position: relative;
    display: flex;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    flex-direction: row;
    min-height: 262px;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.row {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}


.subject__row-reverse{
     display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}
.row__container{
display: flex;
flex-direction: row;
}
.row-1{
display: flex;

}

.row__small{
      position: relative;
    width: 100%;
    max-width: 1400px;
    height: 100%;
    min-height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.header__img-wrapper{
    width: 100%;
    min-width: 800px;}
.header__content{
     width: 100%;
    max-width: 510px;
    height: 100%;
    min-height: 560px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.header__discription{
      width: 100%;
    max-width: 470px;
    height: 100%;
    max-height: 300px;
}

.header__img{
    width: 60%;
    margin: 0 4px;
}
.container{
    padding: 4% 0;}
.container__wrapper{
      display: flex;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 600px;
    margin: auto;
    flex-wrap: wrap;
}
.container__wrapper-1{
     position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 770px;
    align-content: space-around;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 50px;
}
.container-column{
    display: flex;
    align-items: center;

}
.container-3{
position: relative;
display: flex;
flex-direction: column;
width: 50%;


}
.container__content-r-l{

      width: 100%;
    max-width: 520px;
    color: rgb(114, 137, 169);
}
.container__title--sub{

font-weight: 800;
text-align: center;
width: 100%;
min-width: 0;
}
.container__title--sub-1{
      font-weight: 600;
    text-align: left;
    width: 100%;
    max-width: 530px;

}
.container__title--sub-1-2{
    font-weight: 600;
    text-align: left;
    width: 100%;
    min-width: 0;
}
.container__title--sub-2{
      font-weight: 800;
    text-align: left;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 152px;
}
.container__column{
      display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container__subtitle{
text-align: center;
width: 100%;

min-width: 0;
}
.container__content{
       display: flex;
    text-align: left;
    width: 100%;
    max-width: 600px;
    height: 100%;
    min-height: 400px;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
}
.container__title{
      color: #6105ff;
    white-space: nowrap;
    width: 100%;
    max-width: 530px;
    font-size: calc(8px + 1vw);
    line-height: 2;
}
.pl{
color: #6105ff;


min-width: 0;
}
.container__title-1{
    text-align: left;
    color: #6105ff;
    width: 100%;
    min-width: 0;
    font-size: calc(2vw - 6px);
}
.container__content-1{
    text-align: left;
    width: 100%;
    max-width: 470px;
}

.container__subtitle-1{
text-align: left;
width: 100%;
min-width: 0;
}

.container__subtitle-2{
text-align: left;
width: 100%;
min-width: 0;
}
/*

TREACT

*/

.nav__row{
      display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
    align-items: center;
}

.nav__container{
      display: flex;
    position: relative;
    flex-wrap: wrap;
    width: 100%;
    max-width: 400px;
    
}
.nav__wrapper{
     display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 680px;
    justify-content: space-around;
    align-items: center;
}
.nav__logo{
    font-weight: 900;
    font-size: 30px;
    margin-left: 12px;
    letter-spacing: 0.6px;
}
.nav__img{
    max-width: 50px;
    width: 100%;
}

.btn__wrapper{
     position: relative;
    width: 100%;
    max-width: 150px;
    height: 100%;
    min-height: 14px;}
.nav__link-btn{

     display: flex;
    background-color: #6105ff;
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    border-radius: 40px;
    color: #ffffff;
    text-decoration-line: none;
    transition: all 500ms ease;
    width: 100%;
    min-width: 100px;
    height: 100%;
    min-height: 40px;
    justify-content: center;
    align-items: center;
}
.nav__link-btn:hover{
    background-color: rgb(38, 2, 130);
}

.btn-link{
       position: relative;
    display: flex;
    white-space: nowrap;
    width: 100%;
    min-width: 150px;
    height: 100%;
    min-height: 40px;
    background-color: #6105ff;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    transition: all 500ms ease;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    transform: translate(-221px, -2px);
}
.btn-link:hover{
background-color: rgb(38, 2, 130);
}
.nav-actions{
     display: flex;
    align-items: center;
    width: 100%;
    max-width: 200px;
}


.nav-links{
            display: flex;
flex-wrap: wrap;
}


.nav-link{
    display: flex;
    white-space: nowrap;
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-decoration-line: none;
    transition: all 500ms ease;
}
.nav-link-btn{
    display: flex;
    white-space: nowrap;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    text-decoration-line: none;
    transition: all 500ms ease;
}

.nav-link-btn:hover{
text-decoration: underline;
text-decoration-color: #7a05ff;
text-decoration-thickness: calc(0.1em + 1px);
}
.nav-link:hover{
text-decoration-line: underline;
text-decoration-color: #7a05ff;
text-decoration-thickness: calc(0.1em + 1px);
}
.btn_menu{
           background-color: transparent;
    font-size: 40px;
   
    text-align: right;
    border: none;
    color: #000000;
    display: none;
   
}
.menu_backdrop {
        position: absolute;
    background-color: #ffffff;
    top: 0;
    left: 0;
    right: 0;
    bottom: -580px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}
.menu--open .menu_backdrop{
visibility: visible;
opacity: 1;
}
.menu--open{
max-height: 100vh;
overflow-y: hidden;
}

.menu_links{
display: flex;
flex-direction: column;
align-items: center;
}
.menu_list{
    padding: 25% 0;
}
.menu_link{
color:#000000;
font-size: calc(20px -2vw);
}
.btn_menu-close{
   position: absolute;
    right: -26%;
    top: 18%;
    padding: 8px;
    color: #000000;
}


/*


TEMPLATES


*/



.header__container{
    width: 40%;
    margin: 0 20px;
}
.header__description{
    width: 100%;
    min-width: 500px;
}

.container__content-small{
       position: relative;
    color: rgb(114, 137, 169);
    font-size: calc(2vw - 10px);
    width: 100%;
    max-width: 470px;
    height: 100%;
    max-height: 26px;
    line-height: 2.5;
    font-weight: 700;

   }

.btn{
                      width: 104px;
    /* padding: 15px; */
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 28px;
    z-index: 2;
    position: absolute;
    margin: 4px 225px;
    height: 48px;
}
.btn:hover{
background-color: rgb(38, 2, 130);
cursor: pointer;
}
.eml{

       position: absolute;
    display: flex;
    min-width: 150px;
    padding: 18px 143px;
    border-radius: 40px;
    border: 1px solid rgb(114, 137, 169);
    margin: 0px -100px;



}

.container__form{
     position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 280px;
    height: 100%;
    max-height: 64px;
    justify-content: flex-start;
}
.form-wrapper{
            display: flex;
    flex-wrap: wrap;
 
}
.container__img-logo{
       width: 100%;
    position: relative;
    max-width: 474px;
    opacity: 0.5;
    height: auto;
}
.container__img{
      width: 100%;
    max-width: 770px;
}
.container__img-wrapper{
       display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: center;
}





/*

SALE

*/



.container__info{
     display: flex;
    width: calc(100% / 3);

}
.block__icon{
     display: flex;
    width: 100%;
    height: auto;
    max-width: 1100px;
    justify-content: center;
    flex-wrap: wrap;
}


.container__sale{
display: flex;
flex-direction: column;
margin: 0 12px;
}


 .container__content-l-m{
    text-align: left;
width: 100%;
min-width: 0;
        color: rgb(114, 137, 169);
 }

.icon {
     padding: 30px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    width: 100%;
    min-width: 90px;
}
/*

PROFESSION
*/


.btn-1{
     display: flex;
    width: 100%;
    max-width: 166px;
    background-color: #6105ff;
    color: #fff;
    border: none;
    position: relative;
    height: 100%;
    justify-content: center;
    min-height: 56px;
    align-items: center;
    margin: -210px 0;
}
.btn-1:hover{
background-color: rgb(38, 2, 130);
}
.container__img-2{
       position: relative;
    width: 100%;
    max-width: 560px;
}
.container__wrapper-3{
text-align: left;
width: 400px;
z-index: -1;
}
.box_dots{
    position: relative;
    background-image: radial-gradient(#6415ff 2px, transparent 2px);
    background-size: 8px 8px;
    transform: translate(-40px, 320px);
    z-index: -1;
    width: 100%;
    max-width: 80px;
    height: 100%;
    min-height: 80px;
}   
/*

STEPS

*/

.container__row{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 60px;
}
.container__block{
    display: flex;
    width: 100%;
    max-width: 650px;
    height: 100%;
    min-height: 750px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container__block--content{
       display: flex;
    width: 100%;
    min-width: 650px;
    height: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: flex-end;
}

.container__img-5{
     position: relative;
    width: 100%;
    max-width: 650px;
    height: 100%;
    min-height: 340px;
    z-index: 2;
}

.container__wrapper-2{
padding: 0 10px;
width: 620px;
height: 400px;
}
.box_dots-p{
       position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.18) 4px, transparent 4px);
    transform: translate(0px, -90px);
    background-size: 18px 18px;
    z-index: 1;
    width: 100%;
    max-width: 200px;
    height: 100%;
    min-height: 200px;
}
.container__steps-p{
     display: flex;
    flex-direction: row;
    line-height: 2;
    width: 100%;
    max-width: 350px;
    height: 100%;
    min-height: 140px;
    flex-wrap: wrap;
}

.container__block--steps{
       display: flex;
    width: 100%;
    min-width: 600px;
    height: 100%;
    max-height: 160px;
    justify-content: center;
    align-items: center;
}
.container__title--sub-l{
      font-size: calc(20px + 2vw);
    font-weight: 700;
    color: #d3daec;
    margin-right: 20px;
}
.container__subtitle-l{
     font-size: calc(-2px + 2vw);
    font-weight: 500;
}
.container__content-l{
        color: rgb(114, 137, 169);
    width: 100%;
     max-width: 454px; 
    
}
.container__content-l-v{
     color: rgb(114, 137, 169);
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 260px;
}
.container__content-l-s{
      color: rgb(114, 137, 169);
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;
}
.container__img-wrapper-4{
      position: relative;
    display: flex;
    width: 100%;
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*

VALUES

*/



.container__color-content{
      position: relative;
    width: 100%;
    max-width: 292px;
    height: 100%;
    max-height: 269px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.container__color-logo{
        display: flex;
    width: 100%;
    max-width: 680px;
    height: 100%;
    min-height: 250px;
    justify-content: center;
    flex-wrap: wrap;



}

.container__mini-p-dollar{
      display: flex;
    width: 100%;
    max-width: 250px;
    flex-direction: column;
}
.container__mini-p-briefcase{
       position: relative;
    display: flex;
    width: 100%;
    min-width: 250px;
    height: 100%;
    min-height: 190px;
    flex-direction: column;
}

.logo__style{
display: flex;
justify-content: space-around;
}


.fa-dollar-sign{
       position: relative;
    background-color: rgb(73, 246, 73);
    color: forestgreen;
    transform: translate(-7px , 3px);
    border-radius: 50%;
    width: 100%;
    min-width: 44px;
    height: 100%;
    min-height: 44px;
    padding: 5%;
}

.fa-briefcase{
    position: relative;
    background-color: rgb(240, 120, 118);
    border-radius: 50%;
    width: 100%;
    min-width: 44px;
    height: 100%;
    min-height: 44px;
    color: rgb(169, 6, 6);
    transform: translate(-7px, 0px);
    padding: 5%;
}
.container__img-3{
      position: relative;
    width: 100%;
    max-width: 630px;
    height: 100%;
    min-height: 650px;
}

.container__img-wrapper-3{
      position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
btn__wrapper{
margin: 129px 0;
}

.btn__2{
position: relative;
display: flex;
justify-content: center;
background-color: #6415ff;
color: #ffffff;
text-decoration: none;
border: none;
border-radius: 40px;
width: 150px;
font-size: 20px;
padding: 10px;
text-align: center;
align-self: start;
margin-top: 8px;
}

.btn__2:hover{
background-color: #590af7;
}



/* 

 PRICING 

*/



.container__colom{
      display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
}
.container__block-2{
display: flex;
justify-content: space-evenly;
margin: 40px 10px;
padding: 0 50px;
}
.container__strip-green{
position: absolute;
top: 0;
left: 0px;
right: 0;
width:400px;
height: 10px;

background: linear-gradient(115deg, rgba(0, 84, 0, 0.6), rgba(37, 242, 238, 0.2));

}
.container__pricing--green{
position: relative;
background-color: #ffffff;
width: calc(100% / 3);
padding: 40px;
margin: 20px;
text-align: center;
border:1px solid #acacac;
border-radius: 15px;
height: 640px;
overflow: hidden;
}
.container__pricing--purple{
position: relative;
width: calc(100% / 3);
padding: 40px;
margin: 20px;
text-align: center;
color: #fff;
border: 1px solid transparent;
background: linear-gradient(135deg, rgb(17, 3, 212), rgba(17, 3, 212, 0.5));
border-radius: 15px;
height: 640px;
}
.container__strip--red-coral{
position: absolute;
top: 0;
left: 0px;
right: 0;
width:400px;
height: 10px;
background:linear-gradient(115deg, rgba(220, 61, 61, 0.6), rgba(243, 114, 114, 0.4));
}
.container__pricing--red-coral{
    position: relative;
    background-color: #ffffff;
    width: calc(100% / 3);
    padding: 40px;
    margin: 20px;
    text-align: center;
    border: 1px solid transparent;
    border-color: #acacac;
    border-radius: 15px;
    height: 640px;
    overflow: hidden;
    z-index: 2;
}
.pricing__text--grey{
color: rgb(114, 137, 169);
line-height: 2.5;
font-weight: 600;
}
.pr__txt-gr{
line-height: 2.5;
color: rgb(114, 137, 169);
font-weight: 600;
}

.container__block-pricing{
font-weight: 600;
line-height: 2.5;
}
.pricing__text{
font-weight: 600;
line-height: 2.5;
}
.pricing__text--white{
font-weight: 600;
line-height: 2.5;

}
.pricing__number{
line-height: 2.5;
font-size: 46px;
font-weight: 600;
}
.pr__txt{
font-weight: 600;
line-height: 2.5;
}
.green-1{
background:linear-gradient(115deg,  rgba(6, 125, 111, 0.6), rgba(37, 242, 238, 0.4));
color:#ffffff;
width: 200px;
height: 50px;
margin-top: 40px;
border: none;
transition: transform 300ms ease;
}
.green-1:hover{
box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
transform: translate(5px, -5px);
}
.btn-white{
background-color: #ffffff;
color: #6415ff;
width: 200px;
height: 50px;
margin-top: 40px;
border: none;
transition: transform 300ms ease;
}
.btn-white:hover{
box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
transform: translate(5px, -5px);
}
.red__coral{
background:linear-gradient(115deg, rgba(220, 61, 61, 0.6), rgba(243, 114, 114, 0.4));
color: #ffffff;
width: 200px;
height: 50px;

margin-top: 40px;
border: none;
transition: transform 300ms ease;
}
.red__coral:hover{
box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
transform: translate(5px, -5px);
}
.prline{

margin-left: -40px;
  margin-right: -40px;
  width: auto; /* Ensure width is not fixed at 100% */
  border: 0;
  border-top: 1px solid #acacac;
}
.prline__purple{
margin-left: -40px;
  margin-right: -40px;
  width: auto; /* Ensure width is not fixed at 100% */
  border: 0;
  border-top: 1px solid #ffffff;
}




.blob {
 
position: relative;
  background-color: #ffbddf;
  width: 100%;
  height: 100%;
  min-height: 100px;
  max-width: 100px;
 /* <div class="shape"> OR <img class="shape"> */

	aspect-ratio: 0.942;
	clip-path: shape(from 59.7% 35.73%,curve to 98.31% 53.4% with 72.2% 45.73%/92.71% 46.62%,curve to 83.48% 78.41% with 103.93% 60.2%/94.65% 72.89%,curve to 48.14% 86.45% with 72.31% 83.91%/59.25% 82.23%,curve to 21.69% 99.95% with 36.99% 90.68%/27.78% 100.79%,curve to 9.66% 77.75% with 15.62% 99.09%/12.66% 87.28%,curve to 1.6% 50.73% with 6.67% 68.21%/3.67% 60.96%,curve to 4.74% 16.26% with -0.44% 40.48%/-1.54% 27.27%,curve to 33.67% 1.49% with 11.02% 5.21%/24.62% -3.63%,curve to 59.7% 35.73% with 42.72% 6.62%/47.22% 25.72%,close);


transform: translate(44px, -118px);
z-index: -1;
}




/* 

TESTIMONIAL 

*/


.pic-1{
width: 80px;
height: 80px;
border-radius: 50%;
}
.pic{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.star{
color: #ffd700;
}
.content__para{
        position: relative;
    display: flex;
    flex-direction: column;
    margin: -71px 35px -258px 93px;
    padding: 5% 1% 20% 0%;
    justify-content: space-between;
}

.container__content-2{
        text-align: left;
    width: 100%;
    white-space: nowrap;
    min-width: 0;
    padding: 12% 0% 0% 15%;
    margin: -91px -165px 218px -28px;
}
.content__3{
    padding: 3% 26% 14% 86%;
    margin: -80px -4px -17px -2px;
    width: 100%;
    min-width: 138px;
    height: 100%;
    min-height: 239px;}
.content__p{
    padding: 56% 20% 4% 73%;
    margin: 19px 71px 11px -106px;
    width: 100%;

    max-height: -85px;
    display: flex;}
.arrow{
      display: flex;
    flex-direction: row-reverse;
    max-width: 400px;
    width: 100%;
    transform: translate(45%, -170%);
    transition: all 300ms ease;
}

.arrow-1{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color:color-mix(in oklab, #6415ff, white 90%); 
color: #6415ff;
border-radius: 50%;
margin-right: 20px;
padding: 10px 20px;

}
.fa-arrow-right, .fa-arrow-left{
color: #6415ff;
height: 16px;
}

/*

CALL TO ACTION

*/

.cta__wrap{
position: relative;
    background-color: #6415ff;
display: flex;
flex-wrap: wrap;
    overflow: hidden;
    
transition: transform 500ms ease;
}



.container-4{
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;



}
.curve__design{
        width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle, #5110f4 70%, transparent 70%);
    transform: translate(calc(50vw - 827px), 36%) rotate(135deg);

}
.container__content-btn-title{
      position: relative;
    display: flex;
    width: 100%;
    max-width: 600px;
    height: 100%;
    z-index: 2;
    min-height: 180px;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-content: flex-end;
}
.container__subtitle-3{
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    color: #ffffff;
    width: 100%;
    min-width: 740px;
    height: 100%;
    max-height: 10px;

}
.btn__types{
      position: relative;
    display: flex;
    width: 100%;
    max-width: 10px;
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
}
.rd{
     position: relative;
    width: 100%;
    min-width: 140px;
    height: 50px;
    border-radius: 40px;
    background-color: rgba(255, 5, 5, 0.992);
    color: rgba(999, 999, 999, 1);
    border: none;
    z-index: 1;
    margin-left: 5px;

}
.purp{
      position: relative;
    width: 100%;
    height: 100%;
    background-color: #6415ff;
    color: rgb(999, 999, 999);
    border: 1px solid rgb(999, 999, 999);
    z-index: 1;
    min-width: 140px;
    margin-right: 5px;

}
.purp:hover{
background-color: #ffffff;
color: #590af7;
}
.curve__design-2{
     width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle,  #5110f4 70%, transparent 70%);
    transform: translate(calc(25vw - 317px), -67%) rotate(140deg);
}


/*

FOOTER

*/

.circle__radius{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle,  #5110f4 70%, transparent 70%);
    transform: translate(-120px, -164px);
}
.footer__container{
     position: relative;
    display: flex;
    color: #ffffff;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    transform: translate(212px, -324px);
    flex-wrap: wrap;
    z-index: 1;
}
.footer__contain{
      position: relative;
    display: flex;
    text-align: left;
    width: calc(100% / 5);
    z-index: 1;
    height: 100%;
    max-height: 127px;
    flex-direction: column;
    
}
.container__title--sub-footer{
    font-size: 16px;
    text-align: left;
    line-height: 3;
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 157px;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
}
.prline__purp{
       position: relative;
    border: 0;
    width: 100%;
    max-width: 1400px;
    border-top: 1px solid #854af9;
    z-index: 2;
    transform: translate(4px, -250px);
}
.treincp{
      position: relative;
    display: flex;
    color: #ffffff;
    transform: translateY(-235px);
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}
.container__title--sub-wht{
font-size: 18px;
font-weight: 900;
letter-spacing: 0.6px;
}
.footer__lists{
    line-height: 2px;
    width: 100%;
    max-width: 114px;
    height: 100%;
    max-height: 120px;
    position: relative;
    display: flex;
    flex-direction: column;}
.footer__list{
text-align: left;
font-size: 14px;
line-height: 2;
}
.logo-1{
    display: flex;
    margin-left: 20px;}
.logo-2-0{
    width: 32px;
    margin-right: 5px;
}
.wht__logo-sm{
display: flex;
justify-content: space-around;
}
.logo__single-small{
    position: relative;
    background-color: #ffffff;
    border-radius: 50%;
    padding: 14px 10px;
    height: 36px;
    width: 36px;
    z-index: 2;
    margin: 0 -9px 0 16px;
}
.fa-facebook-f,
.fa-twitter,
.fa-youtube{

color: #000000;
font-weight: 100;
font-size: 12px;
transform: translateY(-10px);
}
.circle__radius-1{
     position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: radial-gradient(circle, #5110f4 70%, transparent 70%);
    transform: translate(1200px, -390px);
}
@media(max-width: 1025px){
h1{
        position: relative;
    font-size: calc(16px + 2vw);
    line-height: 1.25;
}
p{
    position: relative;
    font-size: calc(2vw - 6px);
    line-height: 1.625;
}
header{
height: calc(100vh - 400px);
}
nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 1024px;
    align-items: center;
}
footer{
    background-color: #6415ff;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    max-height: 250px;
}
#cta{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    min-height: 262px;
}
.row{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}
.container__content-l-s{
     color: rgb(114, 137, 169);
    width: 100%;
    max-width: 270px;
    height: 100%;
    max-height: 300px;
}

.nav__container{
    display: flex;
    align-items: center;
    max-width: 120px;
}
.header__description{
margin: 0 -50px;
}
.container__img{
    max-width: 500px;}
.content__para{
    position: relative;
    display: flex;
    flex-direction: column;
    margin: -69px 91px -250px 84px;
    padding: 5% 1% 20% 0%;
    justify-content: space-between;
}
.container__content-2{

    text-align: left;
    width: 100%;
    white-space: nowrap;
    min-width: 0;
    padding: 0% 0% 0% 22%;
    margin: -89px -165px 215px -29px;
}
.arrow{
      display: flex;
    flex-direction: row-reverse;
    max-width: 243px;
    width: 100%;
}
.header__content{
       width: 100%;
    min-width: 420px;
    height: 100%;
    min-height: 380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
     
}
.icon{
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 50px;
    width: 100%;
    min-width: 60px;
}
.header__discription{
      width: 100%;
    max-width: 386px;
    height: 100%;
    max-height: 110px;}
.form-wrapper{
      display: flex;
    width: 100%;
    max-width: 265px;
    height: 100%;
    min-height: 80px;
    align-items: flex-end;
    flex-wrap: wrap;
}
.header__img-wrapper{
     width: 100%;
    min-width: 510px;
}
.container__form{
       display: flex;
    width: 100%;
    min-width: 290px;
    height: 100%;
    max-height: 60px;
    justify-content: flex-start;
}
.cta__wrap{
     width: 100%;
    max-width: 900px;
    height: 100%;
    max-height: 200px;

}
.container__wrapper{
      display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 188px;
    flex-direction: row;
    align-content: flex-start;;
}
.btn-1{
    display: flex;
    width: 100%;
    max-width: 130px;
    background-color: #6105ff;
    color: #fff;
    border: none;
    position: relative;
    height: 100%;
    justify-content: center;
    min-height: 40px;
    margin: -210px 0;
    align-items: center;
}
.container__title--sub-2{
       font-weight: 800;
    text-align: left;
    width: 100%;
    min-width: 350px;
    height: 100%;
    min-height: 160px;
}
.eml{
     position: absolute;
    display: flex;
    width: 100%;
    min-width: 350px;
    padding: 4% 4%;
    border-radius: 40px;
    border: 1px solid rgb(114, 137, 169);
    height: 100%;
    max-height: 50px;
}
.btn{
     display: flex;
    width: 100%;
    white-space: nowrap;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 40px;
    z-index: 2;
    position: absolute;
    margin: 3px 136px;
    height: 100%;
    max-width: 110px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    max-height: 44px;
}

.container__content-small{
       position: relative;
    color: rgb(114, 137, 169);
    font-size: 14px;
    font-weight: 700;
    width: 100%;
    max-width: 390px;
    height: 100%;
    max-height: 0px;
}
.nav__row{
       display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 920px;
    height: 100%;
    min-height: 110px;
}
.nav__wrapper{
    max-width: 645px;
}
.nav-links{
      display: flex;
    width: 100%;
    max-width: 390px;
    flex-wrap: wrap;
}
.nav__img{
    max-width: 36px;
    width: 100%;
}
.nav__logo{
    font-weight: 900;
    font-size: 24px;
    margin-left: 4px;
    letter-spacing: 0.6px;
}
.nav-link{
font-size: 14px;
     width: 100%;
    min-width: 40px;
}
.container__wrapper-1{
      position: relative;
    width: 100%;
    max-width: 512px;
    height: 100%;
    min-height: 470px;
}
.nav-link-btn{

font-size: 14px;}
.container__content-btn-title{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: scale(.9);

}
.btn-link{
     font-size: 12px;
    min-height: 30px;
    min-width: 80px;
}

  

.container__content-r-l{
       width: 100%;
    max-width: 450px;
}
.container__column{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: -30px;
    align-items: center;
}
.container__img-wrapper-3{
      position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container__img-2{
     position: relative;
    width: 100%;
    max-width: 410px;
    z-index: 2;
}
.row__small{
      width: 100%;
    min-width: 1025px;
    position: relative;
    height: 100%;
    min-height: 1000px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.container__img-logo{
   
     position: relative;
    width: 100%;
    max-width: 390px;
    opacity: 0.5;
}
.container__colom{
     position: relative;
    text-align: center;
    margin-bottom: 60px;
    width: 100%;
    max-width: 900px;
}
.block__icon{
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 860px;
    min-height: 400px;
    align-items: flex-start;
    flex-wrap: wrap;
}
.container__color-content{
     width: 100%;
    max-width: 250px;
    height: 100%;
    max-height: 127px;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
}
.container__mini-p-dollar{
     display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    width: 100%;
    max-width: 200px;
}
.container__mini-p-briefcase{
       display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    min-width: 200px;
    height: 100%;
    min-height: 120px;
}
.btn__wrapper{
      transform: translate(269px, 10px);
    position: relative;
    width: 100%;
    max-width: 120px;
    height: 100%;
    max-height: 60px;}
.container__subtitle-3{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
}
.container__img-wrapper-4{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    justify-content: space-around;
}
.nav-actions{
        width: 100%;
    max-width: 150px;
}

.box_dots{
  
    transform: translate(-39px, 222px);
    z-index: 1;  
  
    
}
.container__block-2{
    display: flex;
    justify-content: space-evenly;
    margin: 40px -10px;
    padding: 0 50px;
}
.subject__row-reverse{
     display: flex;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 500px;
    flex-direction: row-reverse;
}
.container__row{
      display: flex;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 600px;
    flex-direction: row;
}
.container__img-5{
    position: relative;
    width: 100%;
    max-width: 450px;
    height: 100%;
    min-height: 290px;
    z-index: 2;
}
.box_dots-p{
    position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.18) 4px, transparent 4px);
    transform: translate(0px, -90px);
    background-size: 18px 18px;
    z-index: 1;
    width: 100%;
    max-width: 160px;
    height: 100%;
    min-height: 180px;
}
.container__block{
       display: flex;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 308px;
    margin-left: 110px;
    justify-content: flex-end;
}
.container__block--content{
      position: relative;
    white-space: nowrap;
    display: flex;
    width: 100%;
    min-width: 300px;
    height: 100%;
    min-height: 200px;
}
.container__block--steps{
     display: flex;
    width: 100%;
    min-width: 427px;
    height: 100%;
    min-height: 200px;
    align-items: flex-start;
    justify-content: flex-end;
}
.container__steps-p{
        width: 100%;
    max-width: 230px;
    height: 100%;
    min-height: 100px;
}
.container__color-logo{
     display: flex;
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 160px;
    align-items: flex-start;
    justify-content: flex-start;
}
.container__content-l-v{
     position: relative;
    width: 100%;
    height: 100%;
    max-width: 350px;
    min-height: 290px;
}
.container__content{
       position: relative;
    text-align: left;
    width: 100%;
    max-width: 500px;
    height: 100%;
    min-height: 131px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-end;

}
.container__title{

     position: relative;
    width: 100%;
    height: 100%;
    max-width: 120px;
    min-height: 40px;
}

.container__title--sub-1{
    font-weight: 600;
    text-align: left;
    width: 100%;
    max-width: 300px;
}
.container__img-3{
       position: relative;
    width: 100%;
    max-width: 450px;
    height: 100%;
    min-height: 440px;
}

.container__img-wrapper-3{
       position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo__style{
       display: flex;
    justify-content: space-around;
    align-items: center;
}

.box_dots-p{
    position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.18) 3px, transparent 3px);
    background-size: 14px 14px;
    z-index: -1;
    width: 100%;
    max-width: 140px;
    height: 100%;
    min-height: 166px;
    transform: translateY(-96px);
}

.container__steps-p{
        display: flex;
    flex-direction: column;
    line-height: 2;
}
.container__title--sub-2{
     font-weight: 800;
    text-align: left;
    width: 100%;
    min-width: 300px;
    height: 100%;
    max-height: 83px;
}
.container__img-wrapper-4{
    position: relative;
    display: flex;
    width: 100%;
    max-width: 528px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.container__img-5{
min-width: 520px;
}
.container__subtitle-3{
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    padding-right: 10px;
    color: #ffffff;
    margin: 0% 6%;
}
.green-1{
transform: translateX(-16px);
}
.red__coral{
transform: translateX(-16px);
}
.container__img-wrapper{
       position: relative;
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
}
.btn__types{

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2% 1% -2% 14%;}
.container__content-btn-title{

     position: relative;
    display: flex;
    width: 100%;
    min-width: 740px;
    height: 100%;
    min-height: 89px;
    align-items: center;
    transform: translate(64px, -254px);
}
.footer__contain{
     text-align: left;
    width: calc(100% / 3);
    z-index: 1;
    height: 100%;
    min-height: 80px;
}
.container__title--sub-footer{
       font-size: 14px;
    line-height: 2;
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 110px;
}
.footer__lists{
      width: 100%;
    max-width: 90px;
    height: 100%;
    min-height: 40px;
   
}
.footer__list{
    text-align: left;
    font-size: 10px;
    line-height: 1;
}
.container__subtitle-l{
    font-size: calc(-6px + 2vw);
    width: 100%;
    max-width: 80px;
    height: 100%;
    max-height: 30px;
}
.container__title--sub-l{
      position: relative;
    display: flex;
    font-size: calc(34px + 1vw);
    font-weight: 700;
    color: #c0c0c0;
    width: 100%;
    max-width: 41px;
    height: 100%;
    min-height: 80px;
    align-items: flex-end;
    justify-content: flex-end;;
}
.container__img-wrapper-4{
     position: relative;
    width: 100%;
    min-width: 550px;
    height: 100%;
    max-height: 260px;
    z-index: 2;
}    
.container__subtitle-1{
      text-align: left;
    width: 100%;
    max-width: 300px;
}
.container__img-5{
     position: relative;
    width: 100%;
    min-width: 450px;
    height: 100%;
    min-height: 260px;
    z-index: 2;
}
.btn-1{
     width: 100%;
    max-width: 144px;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 28px;
    position: relative;
    height: 100%;
    min-height: 40px;
}
.curve__design-2{

     width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    transform: translate(calc(50vw + 140px), -210%) rotate(135deg);

}

.curve__design{
     width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle, #5110f4 70%, transparent 70%);
    transform: translate(calc(40vw - 550px), 25%) rotate(135deg);
}
.container__subtitle-3{
      font-size: 24px;
    text-align: left;
    font-weight: 700;
    color: #ffffff;}
.btn__types{
     position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    min-width: 740px;
    height: 100%;
    min-height: 50px;
}
.purp{
      position: absolute;
    width: 120px;
    height: 30px;
    border-radius: 40px;
    background-color: #6415ff;
    color: rgb(999, 999, 999);
    border: 1px solid rgb(999, 999, 999);
    z-index: 1;
    margin-right: 52px;
}
.rd{
      position: absolute;
    width: 94px;
    height: 30px;
    border-radius: 40px;
    background-color: rgba(255, 5, 5, 0.992);
    color: rgba(999, 999, 999, 1);
    border: none;
    z-index: 1;
    margin-right: -95px;
}
.circle__radius{

       transform: translate(-132px, -190px);
}
.circle__radius-1{
    transform: translate(810px, -430px);
}
.prline__purp {
    transform: translate(12px, -327px);
}
.treincp{
    transform: translate(-14px, -290px);
}
.footer__container{
    position: relative;
    display: flex;
    color: #ffffff;
    width: 100%;
    max-width: 800px;
    height: 100%;
    transform: translate(212px, -324px);
    flex-wrap: wrap;
    z-index: 1;
}
}
@media(max-width: 770px){
  


header{
      display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 1050px;
}
h1{
    position: relative;
    font-size: calc(14px + 2vw);
}
h3{
    position: relative;
    font-size: calc(0px + 2vw);
    line-height: 1.5;
}
p{       position: relative;
    position: relative;
    font-size: calc(2vw - 2px);
    line-height: 1.625;
}
nav{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 730px;
    align-items: center;
}
#treact{
    margin: 0px 4px;
}
.row{
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
}
.nav__row{
    width: 100%;
    max-width: 700px;
    height: 100%;
    min-height: 82px;
}
.nav__container{
    display: flex;
    align-items: center;
    max-width: 140px;
    justify-content: flex-end;
}
.container__wrapper{
     display: flex;
    height: 100%;
    min-height: 234px;
    width: 100%;
    max-width: 300px;
    flex-direction: row;
    justify-content: flex-start;
}

.btn__menu{
display: block;
margin: -76px 266px 30px 603px;
}
.container__title--sub-1-2{
    text-align: center;
    max-width: 500px;
}
.container__content-1{

    text-align: left;
    width: 100%;
    max-width: 500px;}
.row__container{
      display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    min-width: 768px;
    height: 100%;
    min-height: 880px;
    flex-wrap: wrap;
}
.header__container{
      width: 100%;
    max-width: 752px;
    height: 100%;
    max-height: 300px;
}
.container__img{
         max-width: 330px;
    width: 100%;
    height: 100%;
    min-height: 290px;}
.container__column{
    display: flex;
    align-items: center;
    margin: 186px -104px 210px -72px;
}
.container__wrapper-1{
      display: flex;
    width: 100%;
    max-width: 250px;
    flex-wrap: wrap;
    height: 100%;
    min-height: 580px;
}
.header__content{
       width: 100%;
    max-width: 614px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: flex-end;
}

.header__discription{
      width: 100%;
    min-width: 474px;
    height: 100%;
    min-height: 120px;
}
.container__title{
       color: #6105ff;
    max-width: 70px;
    min-height: 30px;
    font-size: calc(5px + 1vw);
    line-height: 2;
}


.container__content-l-m{
   
        color: rgb(114, 137, 169);

width: 100%;
max-width: 300px;
}
.fa-dollar-sign{
    position: relative;
    background-color: rgb(73, 246, 73);
    color: forestgreen;
    transform: translate(-7px , 3px);
    border-radius: 50%;
    width: 100%;
    min-width: 34px;
    height: 100%;
    min-height: 34px;
    padding: 4%;
}
.fa-briefcase{
    position: relative;
    background-color: rgb(240, 120, 118);
    border-radius: 50%;
    width: 100%;
    min-width: 34px;
    height: 100%;
    min-height: 34px;
    color: rgb(169, 6, 6);
    transform: translate(-7px, 0px);
    padding: 4%;
}
.container__color-logo{
      display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    min-height: 280px;
}
.container__mini-p-dollar{
      display: flex;
align-items: flex-end;
    text-align: left;
    width: 100%;
    max-width: 200px;
    height: 100%;
    max-height: 371px;
}
.container__content-1-s{
    width: 100%;
    min-width: 300px;
   

}
.container__info{
         width: calc(100% / 2);
}

.btn-link{
      position: relative;
    white-space: nowrap;
    background-color: #6105ff;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 40px;
    font-size: 14px;
    text-decoration: none;
    width: 100%;
    max-width: 150px;
    height: 100%;
    min-height: 40px;

}
.subject__row-reverse{
       position: relative;
    display: flex;
    width: 100%;
    max-width: 768px;
    height: 100%;
    min-height: 400px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
}
.container__content-2{
       text-align: left;
    width: 100%;
    white-space: nowrap;
    min-width: 334px;
}
.content__para{
       position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 102px;
    height: 100%;
    min-height: 330px;
    white-space: nowrap;
}
.arrow{
       display: flex;
    flex-direction: row-reverse;
    max-width: 232px;
    width: 100%;
    height: 100%;
    max-height: 100px;
}
.arrow-1{
       position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 40px;
    background-color: color-mix(in oklab, #6415ff, white 90%);
    color: #6415ff;
    border-radius: 50%;
}
.pic-1{
       width: 60px;
    height: 60px;
    border-radius: 50%;
}
.cta__wrap{
    width: 100%;
    height: 100%;
    max-height: 300px;
}
.container-column{
display: flex;
}
.container__title--sub{
    min-width: 620px;
    font-size: 48px;}
.container__colom{
     display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 434px;
    height: 100%;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.star{
    display: flex;
    color: #ffd700;
    /* text-align: center; */
    margin: 0 0 0 112px;
}
.nav-actions{
display: none;
}


.nav-links{
display: none;
}



.nav-link{
display: none;
}
.nav-link-btn{
display: none;
}
.btn_menu {
      display: block;
    width: 100%;
    min-width: 728px;
    height: 100%;
    max-height: 40px;
    margin-top: -100px;
}
.nav__wrapper{
    display: none;
}
.nav__img{
width: 50%;
}
.nav__logo{
width: 50%;
}
.block__icon{
      display: flex;
    flex-wrap: wrap;
    max-width: 614px;
}


.header__img-wrapper{
       display: flex;
    position: relative;
    width: 100%;
    max-width: 253px;
    height: 100%;
    min-height: 274px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
}
.header__img{
       position: relative;
    width: 100%;
    min-width: 768px;
    height: 100%;
    max-height: 751px;
    display: flex;
    justify-content: center;
} 
.container__content-small{
      position: relative;
    display: flex;
    width: 100%;
    max-width: 470px;
    height: 100%;
    min-height: 40px;
}
.container__img-logo{
     width: 100%;
    min-width: 470px;
    height: 100%;
}
.container__img-5{
     position: relative;
    width: 100%;
    min-width: 140px;
    height: 100%;
    min-height: 170px;
    z-index: 2;
}
.box_dots-p{
    position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.18) 2px, transparent 2px);
    background-size: 8px 8px;
    padding: 12%;
    margin: 193px -132px 39px -179px;
    z-index: -1;
}
.container__subtitle-l{
      text-align: left;
    width: 100%;
    max-width: 230px;
    font-size: calc(31px - 2vw);
}
.container__block--steps{
     display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 316px;
    justify-content: flex-start;
}
.container__form{
     position: relative;
    display: flex;
    width: 100%;
    max-width: 274px;
    height: 100%;
    min-height: 120px;
    justify-content: center;
}
.form-wrapper{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 80px;
}
.eml{

      width: 100%;
    min-width: 500px;
    height: 100%;
    max-height: 60px;
}
.btn{  
       display: flex;
    width: 100%;
    white-space: nowrap;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 50px;
    z-index: 2;
    position: relative;
    height: 100%;
    min-width: 140px;
    min-height: 54px;
    margin-left: 256px;
}

.icon{
        padding: 14px;
    width: 100%;
    min-width: 60px;}

.btn-1{
      height: 100%;
    min-height: 30px;}

.container__mini-p-briefcase{
      display: flex;
      align-items: flex-end;
    flex-direction: column;
    text-align: left;
    width: 100%;
    max-width: 200px;
}
.container__subtitle-1{
    text-align: left;
    width: 100%;
    min-width: 200px;
}
.logo__style{
      display: flex;
    justify-content: flex-start;
}
.container__img-2{
       width: 100%;
    max-width: 250px;
}
.container__content-r-l{
      width: 100%;
    max-width: 314px;
    text-align: justify;
}

.container__title--sub-1{
     text-align: left;
    width: 100%;
    max-width: 314px;
}
.box_dots{
       position: relative;
    background-image: radial-gradient(#6415ff 2px, transparent 2px);
    background-size: 9px 9px;
    transform: translate(-45px, 118px);
    z-index: 1;
    width: 100%;
    min-width: 90px;
    height: 100%;
    min-height: 90px;
}
.container__content-l-v{
        position: relative;
    width: 100%;
    height: 100%;
    max-width: 220px;
    min-height: 290px;
}
.container__img-wrapper-3{
      position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-width: 370px;
    height: 100%;
    max-height: 90px;

}
.container__row{
      display: flex;
    width: 100%;
    max-width: 600px;
    height: 100%;
    max-height: 300px;
    align-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}
.row__small{
      display: flex;
    width: 100%;
    min-width: 768px;
    height: 100%;
    min-height: 700px;
    flex-wrap: wrap;
}
.box_dots-p{
      position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.4) 2px, transparent 2px);
    background-size: 11px 11px;
    width: 100%;
    max-width: 110px;
    height: 100%;
    min-height: 100px;
    transform: translate(-132px, 38px);
}
.container__block{
    display: flex;
    width: 100%;
    max-width: 384px;
    height: 100%;
    min-height: 400px;
    justify-content: flex-start;
}
.container__block--content{
     position: relative;
    display: flex;
    text-align: left;
    width: 100%;
    max-width: 274px;
    height: 100%;
    min-height: 130px;
}
.container__steps-p{
       display: flex;
    flex-direction: column;
    line-height: 2;
    align-items: center;
    width: 100%;
    max-width: 140px;
}
.container__title-1{
text-align: center;
}
.container__title--sub-l{
        font-size: calc(28px + 1vw);
    width: 100%;
    max-width: 44px;
    height: 100%;
    min-height: 56px;
}
.container__title--sub-2{
     font-weight: 800;
    width: 100%;
    max-width: 60px;
    height: 100%;
    min-height: 130px;
    font-size: calc(2vw + 20px);
}
.container__img-wrapper-4{
      position: relative;
    height: 100%;
    max-height: 30px;
    width: 100%;
    min-width: 314px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
.container__content{
      position: relative;
    width: 100%;
    max-width: 384px;
    height: 100%;
    min-height: 530px;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}
.container__block-2{
display: flex;
flex-direction: column;
align-items: center;
}
.container__mini-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container__color-content{
       position: relative;
    width: 100%;
    max-width: 262px;
    height: 100%;
    max-height: 120px;
    display: flex;
    flex-direction: row;
}
.container__content-l{
      width: 100%;
    max-width: 434px;
    text-align: justify;
}
.box_dots
.logo__style{
display: flex;
}
.color__logo-dollar,
.color__logo-briefcase
{
    display: flex;
  
    width: 40px;
    margin: -7px 0 0 -67px;
}
.container__subtitle-1{
     text-align: left;
    width: 100%;
    min-width: 200px;
}
.container__pricing--green,
.container__pricing--purple,
.container__pricing--red-coral{
    width: 100%;
    max-width: 500px;
}
.container__strip-green,
.container__strip--red-coral{
width: 100%;
}
.container__img-3{
    position: relative;
    width: 100%;
    min-width: 350px;
}
.curve__design-2{

     width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle,  #590af7 70%, transparent 70%);
    margin: 0 0 0 -88px;
}
.circle__radius {
       transform: translate(-98px, -242px);
}
.circle__radius-1 {
transform: translate(534px, -39px);
}
}
@media (max-width: 550px) {
h1{
    position: relative;
    font-size: calc(12px + 2vw);
}
h3{
     position: relative;
    font-size: calc(20px + 2vw);
    line-height: 1.5;
}
p{
       position: relative;
    font-size: calc(2vw + 4px);
    line-height: 1.625;
}
.container__content-l-m{
       text-align: justify;

    color: rgb(114, 137, 169);
    width: 100%;
    min-width: 210px;
}

.row__small{

    display: flex;
    padding: 0%;
    margin: 212px -34px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
    flex-wrap: wrap;
}
.container__colom{
     display: flex;
    flex-direction: column;
    margin: 197px 35px 3px -28px;
}
.container__img-wrapper-3{
         margin: 236px  35px 460px -104px;
    padding: 6%;
}
.container__title{ 
       text-align: center;
    color: #6105ff;
    max-width: 250px;
    font-size: calc(7px + 1vw);
    line-height: 2;
}
.block__icon{
     display: flex;
    flex-direction: column;
    align-items: center;
}
.container__title--sub-1-2{
    text-align: center;
    max-width: 300px;
}
.container__content-1{
    text-align: left;
    width: 100%;
    max-width: 300px;
}
.nav__wrapper {
    margin: 0 0 0 -578px;
}
.btn_menu {
    display: block;
    font-size: 30px;
}
.nav__img{
width: 50%;
}
.nav__logo{
width: 50%;
}    
.header__discription {
      width: 100%;
    min-width: 450px;
    margin: -70px 287px 12px -64px;
}
.container__wrapper {
       display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 733px;
    width: 100%;
    min-width: 340px;
    margin: -408px 0px 203px -64px;
}
.container__content-l-v{
    width: 100%;
    min-width: 300px;
    margin: -4px 12px 100px -81px;
    padding: 0% 10%;
}
.btn-1{
       height: 100%;
    max-height: 40px;
    margin: 96px -102px 0 -321px;
}
.container__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 150px;

}
.container__img-wrapper-4{
      position: relative;
    display: flex;
    margin: -585px -173px 950px -10px;
    padding: 30%;
    justify-content: center;
}
.box_dots-p{
      position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.4) 2px, transparent 2px);
    background-size: 8px 8px;
    padding: 20%;
    margin: 117px 0px 22px -165px;
}

.container__block--content{
     display: flex;
    flex-direction: column;
    text-align: left;
    margin: -557px 80px 1px -72px;
    flex-wrap: wrap;
    align-items: center;
}
.container__subtitle-1{
    text-align: center;
    width: 100%;
    min-width: 200px;
    margin: 0;
}
.eml {
      width: 100%;
    min-width: 300px;
    margin: 16px 0 0px -118px;
    text-align: center;
    height: 100%;
    max-height: 40px;
    font-size: 14px;
}
.btn {
      width: 100%;
    height: 100%;
    white-space: nowrap;
    max-width: 330px;
    font-size: 14px;
    line-height: .5;
    border-radius: 40px;
    margin: 65px 0 0 -120px;
    min-height: 40px;
}
.subject__row-reverse {
      display: flex;
    margin: -104px -30px -151px 0px;
    flex-direction: column;
}
.container__img-3{
    display: flex;
    margin: 30px;
    padding: 12%;
    justify-content: center;
   
}
.form-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: -295px 0 0 -766px;
}
.container__content-small{
    font-size: 12px;
    margin: 128px 28px -118px -1281px;
    padding: 2% 2%;
}
.container__info{
      display: flex;
    width: 100%;
    padding: 90% 50% 0% 2%;
    min-width: 340px;
    flex-direction: column;
    align-items: center;
    margin: 20px -106px -260px -20px;
}
.icon{
    padding: 16%;
    width: 100%;
    max-width: 50px;
}
.container__sale {
        display: flex;
    width: 100%;
    max-width: 230px;
    align-items: center;
  
}
.container__img-2{
      width: 100%;
    min-width: 315px;
    margin: 20px -30px;
}
.box_dots {
      transform: translate(263px, -31px);
    margin: -39px 55px -52px -25px;
    padding: 25%;}
.container__img-logo{
    width: 100%;
    min-width: 270px;
    margin: 37px 0 -148px -724px;
}
.header__img-wrapper{
    padding: 2%;
    margin: 59px 30px 41px 34px;
}
.container__content-1{
        width: 100%;
    min-width: 400px;
    margin: 17px -20px 44px -36px;
    padding: 0% 9%;
    text-align: justify;
}
.container__color-logo{

       display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: -163px -214px;
}
}