@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:  "Noto Sans Display", sans-serif;
}
html{
scroll-behavior: smooth;
}
h1{
position: relative;
font-size: calc(3px + 2vw);
line-height: 1.25;

}
h2{
font-size: calc(1px + 2vw);
}
h3{
position: relative;
font-size: calc(-1px + 2vw);
line-height: 1.5;
}
p{
position: relative;
font-size: calc(-3px + 2vw);
line-height: 1.625;
}
a {
text-decoration: none;

}


ul{
list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2% 2%;


}
button{
border-radius: 40px;
cursor: pointer;

}
input{
border-radius: 50px;
}
header{
height: calc(100vh - 80px);
}
img{
width: 100%;
}
footer{
position: relative;
background-color: #6415ff;
background-size: cover;
padding: 100px 0;
margin-top: 100px;
overflow: hidden;
}
#treact,
#templates,
#sales,
#profession,
#sales,
#values,
#pricing,
#testimonials,
#cta,
footer{
position: relative;
}
.row {
 width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}


.subject__row-reverse{
display: flex;
flex-direction: row-reverse;
justify-content: space-between;
align-items: center;
}
.row__container{
display: flex;
flex-direction: row;
}
.row-1{
display: flex;

}

.row__small{
padding: 20px 0;
margin: 0 100px;
}
.header__content{
    padding-top: 24px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
flex-wrap: wrap;
    justify-content: space-around;}
.header__discription{
padding: 0 24px;
}
.header__img{
width: 60%;

}
.container{
padding: 80px 0;
}
.container__wrapper{
display: flex;
flex-direction: column;
justify-content:flex-start;
align-items:start;
height: 600px;
}
.container-column{
display: flex;

}
.container-3{
position: relative;
display: flex;
flex-direction: column;
width: 50%;
margin: 0 20px;

}
.container__title--sub{

font-weight: 800;
text-align: center;
width: 100%;
min-width: 0;
}
.container__title--sub-1{
font-weight: 600;
text-align: left;
width: 100%;
min-width: 0;
}
.container__title--sub-2{
font-weight: 800;
text-align: left;
width: 100%;
min-width: 0;
}

.container__subtitle{
text-align: center;
width: 100%;

min-width: 0;
}
.container__content{
        text-align: left;
    width: 100%;
    min-width: 0;
    padding: 1% 3% 0% 18%;
    margin: 0% 0% 0% -6%;
}
.container__title{
text-align: center;
color: #6105ff;
max-width: 500px;
font-size: calc(4px + 1vw);
}
.pl{
color: #6105ff;


min-width: 0;
}
.container__title-1{
    text-align: left;
    color: #6105ff;
    width: 100%;
    min-width: 0;
    font-size: 16px;
}
.container__content-1{
text-align: left;
width: 100%;
min-width: 0;
}

.container__subtitle-1{
text-align: left;
width: 100%;
min-width: 0;
}

.container__subtitle-2{
text-align: left;
width: 100%;
min-width: 0;
}
/*

TREACT

*/
#treact{
position: relative;
padding: 0 32px;

}
.nav__row{
display: flex;
flex-wrap:wrap;
align-items: center;
padding: 3% 61% 0% 0%;
}

.nav__container{
    display: flex;
;
    align-items: center;
    margin: -10px 0 28px -4px;
}
.nav__wrapper{
          display: flex;
    align-items: center;
    padding: 1% 4% 8% 22%;
margin: -29% 0% -18% 198%;
}
.nav__logo{
font-weight: 900;
font-size: 24px;
margin-left: 12px;
letter-spacing: 0.6px;
}
.nav__img{
max-width: 40px;
width: 100%;
}



.btn-link{
position: relative;
white-space: nowrap;
max-width: 200px;
background-color: #6105ff;
color: #fff;
font-weight: 700;
border: none;
border-radius: 40px;
font-size: 14px;
padding: 12px 24px;
text-decoration: none;
transition: all 500ms ease;
}
.btn-link:hover{
background-color: rgb(38, 2, 130);
}
.nav-actions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 4% 8% 2%;
margin: 15% 6% 8% 2%;
}


.nav-links{
            display: flex;
flex-wrap: wrap;
margin: 21% -2% 22% -122%;    
flex-wrap: wrap;

}


.nav-link{
display: flex;
white-space: nowrap;
margin-right: 50px;
font-size: 16px;
font-weight: 500;
color: #000000;
text-decoration-line: none;
transition: all 500ms ease;
}
.nav-link-btn{
display: flex;
white-space: nowrap;
margin-right: 25px;
font-size: 16px;
font-weight: 500;
color: #000000;
text-decoration-line: none;
transition: all 500ms ease;
}

.nav-link-btn:hover{
text-decoration: underline;
text-decoration-color: #7a05ff;
text-decoration-thickness: calc(0.1em + 1px);
}
.nav-link:hover{
text-decoration-line: underline;
text-decoration-color: #7a05ff;
text-decoration-thickness: calc(0.1em + 1px);
}
.btn_menu{
           background-color: transparent;
    font-size: 28px;
    /* margin-left: 1285%; */
    /* margin-top: -40px; */
    text-align: center;
    border: none;
    color: #000000;
    display: none;
    margin: -73% -320% -14% 14%;
    padding: 0 41% 0 0%;
}
.menu_backdrop {
    position: absolute;
    background-color: #ffffff;
    top: 38px;
    left: 0;
    right: 0;
    bottom: 115px;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}
.menu--open .menu_backdrop{
visibility: visible;
opacity: 2;
}
.menu--open{
max-height: 100vh;
overflow-y: hidden;
}

.menu_links{
display: flex;
flex-direction: column;
align-items: center;
}
.menu_list{
padding: 32px 0;
}
.menu_link{
color:#000000;
font-size: 40px;
}
.btn_menu-close{
position: absolute;
right: 20px;
top: 10px;
padding: 8px;
color: #000000;
}

/*


TEMPLATES


*/

#templates{
position: relative;
}

.header__container{
width: 40%;
}

.container__content-small{
color:  rgb(114, 137, 169);
font-size: 12px;
font-weight: 700;
}

.btn{
                      width: 104px;
    /* padding: 15px; */
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 28px;
    z-index: 2;
    position: absolute;
    margin: 4px 225px;
    height: 48px;
}
.btn:hover{
background-color: rgb(38, 2, 130);
cursor: pointer;
}
.eml{

       position: absolute;
    display: flex;
    min-width: 150px;
    padding: 18px 143px;
    border-radius: 40px;
    border: 1px solid rgb(114, 137, 169);
    margin: 0px -100px;



}

.container__form{

    display: flex;
    width: 40%;
    margin: 38px auto;
    min-width: 300px;
}
.form-wrapper{
            display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 16% 21%;
    margin: -6% 1% -3% -20%;
}
.container__img-logo{
margin-top: 16px;
padding-right: 128px;
min-width: 500px;
opacity: 0.5;
}
.container__img{
max-width: 762px;

}
.container__img-wrapper{
 flex-wrap:wrap;

}





/*

SALE

*/
#sale{
position: relative;
}


.container__info{
    display: flex;
    width: calc(100% / 3);
    padding: 5% 0%;
    margin: -4% -2% 0% 0%;

}
.block__icon{
display: flex;
flex-wrap: wrap;
width: 100%;
height: auto;
margin: 20% 0% 0% 0%;
}


.container__sale{
display: flex;
flex-direction: column;
margin: 0 12px;
}


 


.icon {
padding: 18px;
border: 1px solid #cccccc;
border-radius: 50px;
margin-right: 20px;


}
/*

PROFESSION

*/

#profession{
position: relative;
}

.container__img-wrapper-3{
width: 100%;
transform: translate(0, -100px);


}
.btn-1{
           width: 25%;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 28px;
    position: absolute;
    margin: 55% 0%;
    height: 6%;
}
.container__img-2{
        position: relative;
    width: 136%;
    z-index: 2;
    padding: 2%;
    margin: 0 -183px;

}
.container__wrapper-3{
text-align: left;
width: 400px;
z-index: -1;
}
.box_dots{
        position: relative;
    background-image: radial-gradient(#6415ff 2px, transparent 0);
    background-size: 8px 8px;

    margin: -5% 4% -2% 95%;
    z-index: 1;
    padding: 5%;
}
/*

STEPS

*/
#steps{
position: relative;
}
.container__row{
display: flex;
justify-content: space-between;
align-items: center;
}
.container__block--content{
display: flex;
flex-direction: column;
padding: 4%;
}



.container__wrapper-2{
padding: 0 10px;
width: 620px;
height: 400px;
}
.box_dots-p{
    position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.4) 3px, transparent 0px);
    background-size: 10px 10px;
   padding: 8%;
margin: 20% 43% -10% -43%;
    z-index: -1;
}
.container__steps-p{
    display: flex;
    flex-direction: column;
    margin: -10% 0% -1% 17%;
    line-height: 2;
}

.container__block--steps{
display: flex;
flex-wrap: wrap;
margin: 4%;
}
.container__title--sub-l{
    font-size: 30px;
    font-weight: 700;
    color: #c0c0c0;
    margin: 0% 0% 2% 2%;
}
.container__subtitle-l{
font-size: 20px;
}
.container__content-l{
    /* font-size: 15px; */
    color: rgb(114, 137, 169);
    width: 100%;
    /* max-width: 622px; */
    /* text-align: left; */
}
.container__img-wrapper-4{
    position: relative;
    display: flex;
    margin: 0 -16% 0 -4%;
    padding: 10%;



}
/*

VALUES

*/
#values{
position: relative;
}




.container__color-logo{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: left;
align-items: left;
width: 700px;




}

.container__mini-p-dollar{
display: flex;
flex-direction: column;
justify-content:left;
text-align: left;
}
.container__mini-p-briefcase{
    display: flex;
    flex-direction: column;
    text-align: left;
margin: -362px 91px -122px 83px;
}
.logo__style{
display: flex;
}
.color__logo-dollar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 1px; */
    width: 40px;
    height: 40px;
    background-color: rgb(73, 246, 73);
    border-radius: 50%;
}
.fa-dollar-sign{
position: relative;
display: flex;
flex-direction: column;
align-items: center;

color: forestgreen;

transform: translateY(12px);


}
.color__logo-briefcase{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-right: 20px; */
    width: 40px;
    height: 40px;
    background-color: rgb(240, 120, 118);
    border-radius: 50%;
}
.fa-briefcase{
position: relative;
display: flex;
flex-direction: column;
align-items: center;
color: rgb(169, 6, 6);
transform: translateY(12px);
}
.container__img-3{
    position: relative;
    width: 100%;
    margin: -208px;
    min-width: 962px;
}

.container__img-wrapper-3{
position: relative;
display: flex;
flex-wrap: wrap;
padding: 2%;
margin: 7%;
}
btn__wrapper{
margin: 129px 0;
}

.btn__2{
position: relative;
display: flex;
justify-content: center;
background-color: #6415ff;
color: #ffffff;
text-decoration: none;
border: none;
border-radius: 40px;
width: 150px;
font-size: 20px;
padding: 10px;
text-align: center;
align-self: start;
margin-top: 8px;
}

.btn__2:hover{
background-color: #590af7;
}
.container__img-3{
position: relative;
width: 600px;

margin: 8px;
}


/* 

 PRICING 

*/

#pricing{
position: relative;
}
.container__colom{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
    align-items: center;
}
.container__block-2{
display: flex;
justify-content: space-evenly;
margin: 40px 10px;
padding: 0 50px;
}
.container__strip-green{
position: absolute;
top: 0;
left: 0px;
right: 0;
width:400px;
height: 10px;

background: linear-gradient(115deg, rgba(0, 84, 0, 0.6), rgba(37, 242, 238, 0.2));

}
.container__pricing--green{
position: relative;
width: calc(100% / 3);
padding: 40px;
margin: 20px;
text-align: center;
border:1px solid #acacac;
border-radius: 15px;
height: 640px;
overflow: hidden;
}
.container__pricing--purple{
position: relative;
width: calc(100% / 3);
padding: 40px;
margin: 20px;
text-align: center;
color: #fff;
border: 1px solid transparent;
background: linear-gradient(135deg, rgb(17, 3, 212), rgba(17, 3, 212, 0.5));
border-radius: 15px;
height: 640px;
}
.container__strip--red-coral{
position: absolute;
top: 0;
left: 0px;
right: 0;
width:400px;
height: 10px;
background:linear-gradient(115deg, rgba(220, 61, 61, 0.6), rgba(243, 114, 114, 0.4));
}
.container__pricing--red-coral{
position: relative;
width: calc(100% / 3);
padding: 40px;
margin: 20px;
text-align: center;
border: 1px solid transparent;
border-color: #acacac;
border-radius: 15px;
height: 640px;
overflow: hidden;
}
.pricing__text--grey{
color: rgb(114, 137, 169);
line-height: 2.5;
font-weight: 600;
}
.pr__txt-gr{
line-height: 2.5;
color: rgb(114, 137, 169);
font-weight: 600;
}

.container__block-pricing{
font-weight: 600;
line-height: 2.5;
}
.pricing__text{
font-weight: 600;
line-height: 2.5;
}
.pricing__text--white{
font-weight: 600;
line-height: 2.5;

}
.pricing__number{
line-height: 2.5;
font-size: 46px;
font-weight: 600;
}
.pr__txt{
font-weight: 600;
line-height: 2.5;
}
.green-1{
background:linear-gradient(115deg,  rgba(6, 125, 111, 0.6), rgba(37, 242, 238, 0.4));
color:#ffffff;
width: 200px;
height: 50px;
margin-top: 40px;
border: none;
transition: transform 300ms ease;
}
.green-1:hover{
box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
transform: translate(5px, -5px);
}
.btn-white{
background-color: #ffffff;
color: #6415ff;
width: 200px;
height: 50px;
margin-top: 40px;
border: none;
transition: transform 300ms ease;
}
.btn-white:hover{
box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
transform: translate(5px, -5px);
}
.red__coral{
background:linear-gradient(115deg, rgba(220, 61, 61, 0.6), rgba(243, 114, 114, 0.4));
color: #ffffff;
width: 200px;
height: 50px;

margin-top: 40px;
border: none;
transition: transform 300ms ease;
}
.red__coral:hover{
box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.1);
transform: translate(5px, -5px);
}
.prline{

margin-left: -40px;
  margin-right: -40px;
  width: auto; /* Ensure width is not fixed at 100% */
  border: 0;
  border-top: 1px solid #acacac;
}
.prline__purple{
margin-left: -40px;
  margin-right: -40px;
  width: auto; /* Ensure width is not fixed at 100% */
  border: 0;
  border-top: 1px solid #ffffff;
}
/* 

TESTIMONIAL 

*/
#testimonial{
position: relative;
}

.pic-1{
width: 80px;
height: 80px;
border-radius: 50%;
}
.pic{
position: relative;
display: flex;
justify-content: start;
align-items:stretch;
}
.star{
color: #ffd700;
}
.content__para{
position: relative;
display: flex;
flex-direction: column;
margin: 12px 24px;

}
.arrow{
display: flex;
flex-direction: row-reverse;
max-width: 400px;
width: 100%;
transform: translate(-11px, 20px);
}
.arrow-1{
position: relative;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
background-color:color-mix(in oklab, #6415ff, white 90%); 
color: #6415ff;
border-radius: 50%;
margin-right: 20px;
padding: 10px 20px;

}
.fa-arrow-right, .fa-arrow-left{
color: #6415ff;
height: 16px;
}

/*

CALL TO ACTION

*/
#cta{
position: relative;
    padding: 12% 4%;
}
.cta__wrap{
position: relative;
    background-color: #6415ff;
display: flex;
flex-wrap: wrap;
    overflow: hidden;
    
transition: transform 500ms ease;
}



.container-4{
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;



}
.curve__design{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle, #590af7 70%, transparent 70%);
    transform: translate(-44%, -37%);

}
.container__content-btn-title{
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 10% 10% 12% -14%;
        z-index: 2;
}
.container__subtitle-3{
font-size: 30px;
text-align: left;
font-weight: 700;
padding-right: 10px;
color: #ffffff;

}
.btn__types{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2% -11% -2% 14%;
}
.rd{
position: absolute;
width: 136px;
height: 50px;
border-radius: 40px;
background-color: rgba(255, 5, 5, 0.992);
color: rgba(999, 999, 999, 1);
border: none;
z-index: 1;
margin: 0 80px;

}
.purp{
position: absolute;
width: 136px;
height: 50px;
border-radius: 40px;
background-color: #6415ff;
color: rgb(999, 999, 999);
border: 1px solid rgb(999, 999, 999);
z-index: 1;
margin: 0 -80px;

}
.purp:hover{
background-color: #ffffff;
color: #590af7;
}
.curve__design-2{
     width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle,  #590af7 70%, transparent 70%);
    transform: translate(calc(50vw - 150px), 45%) rotate(135deg);
}


/*

FOOTER

*/

.circle__radius{
width: 300px;
  height: 300px;
  border-radius: 50%;
z-index: 1;
  background: radial-gradient(circle, #590af7 70%, transparent 70%);
transform: translate(-259px, -304px);
}
.footer__container{
display: flex;
flex-wrap: wrap;
color: #ffffff;
margin-top: -412px;
margin-right: -156px;
}
.footer__contain{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    width: calc(100% / 5);
    z-index: 1;
    
}
.container__title--sub-footer{
font-size: 16px;
text-align: left;
line-height: 4;
}
.prline__purp{
margin: 8px 40px;
border: 0;
border-top: 1px solid #854af9;
}
.treincp{
display: flex;
justify-content: space-between;
align-items: center;
color: #ffffff;
line-height: 50px;
margin-bottom: -101px;
}
.container__title--sub-wht{
font-size: 18px;
font-weight: 900;
letter-spacing: 0.6px;
}
.footer__lists{
line-height: 20px;
}
.footer__list{
text-align: left;
font-size: 14px;
line-height: 2;
}
.logo-1{
display: flex;
}
.logo-2-0{
    width: 32px;
    margin-right: 5px;
}
.wht__logo-sm{
display: flex;
justify-content: space-around;
}
.logo__single-small{
background-color: #ffffff;
border-radius: 50%;
margin: 0 10px;
padding: 0px 10px;
height: 34px;
z-index: 2;
}
.fa-facebook-f,
.fa-twitter,
.fa-youtube{

color: #000000;
font-weight: 100;
font-size: 12px;
transform: translateY(-10px);
}
.circle__radius-1{
position: absolute;
width: 300px;
  height: 300px;
  border-radius: 50%;
z-index: 1;
  background: radial-gradient(circle, #590af7 70%, transparent 70%);
transform: translate(1128px, 2px);
}
@media(max-width: 1024px){


header{
flex-direction: column;
}
.row__container{
display: flex;
flex-direction: column;
}
.nav__container{
    display: flex;
    align-items: center;
    margin: -12px -209px 12px 215px;
}
.header__content{
    width: 100%;
    min-width: 1025px;
}
.form-wrapper{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 16px 36px;
    margin: -9% 3% -3% 88%;
}
.header__img-wrapper{
padding: 4%;}
.container__form{
        display: flex;
    width: 10%;
    margin: 429px -158px;
    min-width: 260px;
}
.cta__wrap{
}
.header__content{
height: 60%;
}
.eml{
            position: absolute;
    display: flex;
    width: 40%;
    min-width: 150px;
    padding: 3% 16% 4% 16%;
    border: 1px solid rgb(114, 137, 169);
    margin: 5px -403px;
    font-size: 20px;
    border-radius: 50px;
}
.btn{
            display: flex;
    width: 35%;
    padding: 3% 20% 6% 12%;
    white-space: nowrap;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 40px;
    z-index: 2;
    position: absolute;
    margin: 4px 200px;    
    height: 12%;
    font-size: 20px;
}
.container__content-small{
    color: rgb(114, 137, 169);
    font-size: 12px;
    font-weight: 700;
    margin: 0% 30px;
}
.nav__row{
    margin: 6% 49% 0% -21%;}
.nav__wrapper{
        display: flex;
    align-items: center;
    padding: 1% 4% 9% 56%;
    margin: -45% 1% -18% 116%;
}
.container__content-btn-title{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
transform: scale(.9);

}

.nav-link{
display: none;
}
.container__img-2{
    position: relative;
    width: 90%;
    z-index: 2;
}
.row__small{
    padding: 20px 0;
    margin: 19% 1%;
}
.container__img-logo{
    margin-top: 16px;
    padding-right: 93px;
    min-width: 500px;
    opacity: 0.5;
    margin-left: 26px;

}
.container__colom{

    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 12px;
    align-items: center;}
.container__color-content{
margin: 0 -30% 0% 58%;}
.btn__wrapper{
    margin: 136% 1% -9% -492%;
    transform: translate(-274%, 109%);}
.container__subtitle-3{
    font-size: 30px;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    margin: -10% -12% 14% 20%;
}
.nav-actions{
display: none;
}
.btn_menu{
display: block;
margin: -75% 325% 0% 1115%;
}
.box_dots{
    position: relative;
    background-image: radial-gradient(#6415ff 2px, transparent 0);
    background-size: 8px 8px;
    margin: -5% 4% -2% 85%;
    z-index: 1;
    padding: 5% 5%;}
.container__info{
width: calc(100% / 2);
padding: 7% 4%;
margin: -14% -10% 15% 5%;
}
.subject__row-reverse{
display: flex;
}
.container__color-logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    width: 24%;
    padding: 0% 49%;
    transform: scale(.7);
}
.container__content{
        text-align: left;
    width: 100%;
    min-width: 0;
    margin: -4% 0% 0% 28%;
    padding: 0 12% 0 18%;
}
.container-3{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 520px;
        margin: 0 20px;}
.container__img-3{
    position: relative;
    width: 106%;
    margin: 2%;
}
.container__subtitle-3{
    font-size: 30px;
    text-align: left;
    font-weight: 700;
    padding-right: 10px;
    color: #ffffff;
    margin: 0% 6%;
}
.btn__types{

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: -2% 1% -2% 14%;}
.container__content-btn-title{

    position: absolute;
    display: flex;
    justify-content: center;
    width: 76%;
    height: auto;
    margin: 9% 10% 12% -3%;
    z-index: 2;}

.footer__contain{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    width: calc(100% / 3);
    z-index: 1;
}
.container__block--content{
       display: flex;
    flex-direction: column;
    padding: 14% 24% 5% 1%;
}
    
.container__subtitle-1{
    text-align: left;
    width: 76%;
    min-width: 0;
}
.btn-1{
    width: 25%;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 28px;
    position: absolute;
    margin: 65% 30%;
    height: 5%;
}
.curve__design-2{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle,  #590af7 70%, transparent 70%);
    /* transform: translate(calc(50vw - 150px), 50%) rotate(135deg); */
    margin: -17% -5% -21% 60%;}
}

/* Removed invalid @media rule */

@media (max-width: 768px) {
  


header{
display: flex;
flex-direction: column;
}
h1{
position: relative;
font-size: calc(32px + 2vw);
}
p{    position: relative;
    line-height: 1.625;
    /* text-align: center; */
font-size: calc(3px + 2vw);}
.container__wrapper{
        display: flex;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    max-width: 504px;
}
.container__img{
    min-width: 700px;
    width: 100%;
margin: 0 0 -26% 4%;
}
.container__title--sub-1{
    text-align: center;
    width: 100%;
    min-width: 0;
}
.container__info{
    width: 100%;
    padding: 7% 4%;
    margin: -14% -10% 15% 5%;
}
.container-column{
display: flex;
flex-direction: column;
}
.container__img-3{
    position: relative;
    width: 100%;
    min-width: 511px;
    margin: 8px;
}
.container__colom{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18% 0%;
}
.btn-link{
display: none;
}
.star{
    display: flex;
    color: #ffd700;
    /* text-align: center; */
    margin: 0 0 0 112px;
}
.nav-actions{
display: none;
}


.nav-links{
display: none;
}



.nav-link{
display: none;
}
.nav-link-btn{
display: none;
}
.btn_menu {
  display: block;
    margin: -76% 325% 0% 612%;
}
.nav__img{
width: 50%;
}
.nav__logo{
width: 50%;

}
.block__icon{
  display: flex;
flex-direction: column;
flex-wrap: wrap;


}

.header__content{
    width: 100%;
}  
.header__img{
width: 100%;
} 
.container__content-small{
        font-size: 20px;
    margin: -2px 4px 75px -21px;
    padding: 5% 5%;
}
.container__img-logo{
       width: 100%;
    min-width: 420px;
    margin: 13px 55px -27px 23px;
}
.container__subtitle-l{
    text-align: center;
    width: 100%;
    /* min-width: 131px; */
    max-width: 170px;
}
.container__form{
    width: 10%;
    margin: 22px -153px -61% 153%;
    min-width: 285px;
}
.form-wrapper{ 
       display: flex;
    flex-wrap: wrap;
    padding: 14px 0px 20px 0;
    margin: 6% -2% 33% 1%;
    width: 100%;
    padding: 18% 21%;
}
.eml{

               position: absolute;
    display: flex;
    width: 122%;
    min-width: 150px;
    padding: 6% 38% 5% 30%;
    border: 1px solid rgb(114, 137, 169);
    margin: -22% -69%;
}
.btn{  
          display: flex;
    width: 50%;
    padding: 5% 4% 1% 21%;
    white-space: nowrap;
    background-color: #6105ff;
    color: #fff;
    border: none;
    border-radius: 50px;
    z-index: 2;
    position: absolute;
    margin: -21% 2%;
    height: 15%;
}

.icon{
    padding: 14px;
    width: 105%;
}
.btn-1{
height: 8%;
}
.subject__row-reverse{
display: flex;
flex-direction: column-reverse;
}
.container__img-2{
        width: 100%;
    min-width: 410px;
    margin: 0 -116px;
}
.box_dots{
transform: translate(-170%, -38%);
    width: 58%;
    height: 58%;

}
.container__img-wrapper-3{
margin: -337%  35% 0% 65%;}
  .container__img-wrapper-4{
margin: 0 30px 0 124px;

}
.container__row{
display: flex;
flex-direction: column;
}
.container-3{
margin: -87px -97px 315px 194px;
align-items: center;
}
.box_dots-p{
            position: relative;
    background-image: radial-gradient( rgba(100, 21, 255, 0.4) 3px, transparent 0px);
    background-size: 10px 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: -291% 0% 0% 16%;
    flex-wrap: wrap; z-index: auto;
}
.container__block--content{
       display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: -291% 0% 0% 16%;
    flex-wrap: wrap;
}
.container__steps-p{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-left: 0px; */
    line-height: 2;
}
.container__title-1{
text-align: center;
}
.container__title--sub-l{
margin: 0px 0px 0 92px;
}
.container__title--sub-2{
    font-weight: 800;
    text-align: center;
    width: 100%;
    min-width: 41px;
}
.container__block-2{
display: flex;
flex-direction: column;
}
.container__mini-p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.container__color-content{
display: flex;
flex-direction: row;

}
.container__content-l{
        text-align: center;
    width: 100%;
    min-width: 120px;
    margin: 10px 0;

}
.logo__style{
display: flex;
}
.color__logo-dollar,
.color__logo-briefcase
{
    display: flex;
    width: 56px;
}
.container__pricing--green,
.container__pricing--purple,
.container__pricing--red-coral{
width: 100%;
}
.container__strip-green,
.container__strip--red-coral{
width: 100%;
}
.container__img-3{
    position: relative;
    width: 100%;
    min-width: 400px;
}
.curve__design-2{

    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 1;
    background: radial-gradient(circle,  #590af7 70%, transparent 70%);
    margin: -17% -5% -21% 60%;}
}

@media (max-width: 550px) {
h1, h3, p{
transform: scale(.5);
}
.btn_menu {
  display: block;
}
.nav__img{
width: 50%;
}
.nav__logo{
width: 50%;
}    
.container__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
    align-content: center;}
.container__form{
display: flex;
flex-direction: column;
width: 100%;

}
.container__subtitle-1{
width: 50%;
}
.eml{
           width: 100%;
    max-width: 446px;
    padding: 3% 14%;
    margin: -6% 0% 0 -28%;
    text-align: center;
}
.btn{
        width: 100%;
    height: auto;
padding: 4% 8% 4% 19%;   
    white-space: nowrap;
    max-width: 446px;
    font-size: 16px;
    line-height: .5;
    border-radius: 40px;
    margin: 12% 0% 16% -28%;
}

.form-wrapper{
           display: flex;
    flex-wrap: wrap;
    padding: 0px 0px 109px 3px;
    margin: 0% 0% 0% 30%;
}
.container__sale{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 12px;
}
.box_dots{
transform: translate(263px, -31px);
}
.container__img-logo{
width: 100%;
min-width: 390px;
}
.container__color-logo{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
}