@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html{
scroll-behavior: smooth;
}
h1{
font-size: 46px;
margin-bottom: 16px;

}
h2{
font-size: 32px;
margin-bottom: 12px;

}
a {
text-decoration: none;
position: relative;
}
main{
height: calc(100vh - 80px);
}

ul{
list-style-type: none;
}
nav{
height: 80px;
display: flex;
}
button{
border-radius:40px;
}
input{
border-radius: 50px;
}




.row {
 width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content:space-between
  padding: 100px 0px;
}
.container{
position: relative;
display: flex;
flex-wrap: wrap;
width: 50%;
flex-direction: column;
justify-content: center;
align-items: center;
}
.container-1{
position: relative;
display: flex;
flex-wrap: wrap;
width: 50%;
flex-direction: column;
justify-content: start;
align-items: start;
}
.container__title--sub{
text-align: center;
}

.container__subtitle{
text-align: center;
}
.container__content{
text-align: center;
}
.container__title{
text-align: center;
}
.pl{
color: #7a05ff;
}
.container__title-1{
text-align: left;
}
.container__content-1{
text-align: left;
}


/*

TREACT

*/
#treact{
position: relative;

}
.nav__wrapper{
display: flex;
margin-top: 8px;
}
.nav__container{
display: flex;
}
.nav__logo{
font-weight: 900;
font-size: 24px;
margin-left: 12px;
padding-top: 6px;
letter-spacing: 0.6px;
}
.nav__img{
max-width: 100%;
width: 40px;
height: 40px;
}

.nav-links{
margin-left: 100px;
display: flex;
justify-content: space-around;
}
.btn-link{
display: flex;
flex-direction: column;
align-items: center;
max-width: 500px;
width: 90px;
height: 26px;
background-color: #7a05ff;
color: #fff;
border: none;
border-radius: 76px;
margin-left: 6px;
}
.btn-link:hover{
background-color: rgb(68, 5, 157);
}
.nav-actions{
display: flex;
margin-left: 20px;

}








.nav-links{
display: flex;
padding-left: 200px;
width: 100%;
}

.nav-link{
margin-left: 15px;
color: #000000;
text-decoration-line: none;
}

.nav-link:hover{
text-decoration-line: underline;
text-decoration-color: #7a05ff;
transition: ;
}


/*


TEMPLATES


*/

#templates{
position: relative;
padding: 0 26px;
}

.container__small{
display: flex;
flex-direction: column;
justify-content: flex-start;
padding: 0 24px;
}
.container__content-small{
color: #333333;

}


.btn{
padding: 18px 46px;
background-color: #7a05ff;
color: #fff;
border: none;


}
.btn:hover{
background-color: rgb(68, 5, 157);
cursor: pointer;
}
.eml{
padding: 18px 30px;
border: none;
border-radius: 40px;
margin-right: 116px;

}
.eml:focus{
outline: none;
}
.container__form{
display: flex;
flex-wrap: wrap;
padding: 4px;
border: 1px solid grey;
border-radius: 700px;
margin: 20px;
width: 100%;
}
.container__img-logo{
width: 600px;
}
.container__img{
width: 600px;
}
.container__img-wrapper{
padding: 0 90px;
}
/*

SALE

*/
#sale{
position: relative;
}
.container__2{
display: flex;
flex-direction: column;

}

.container__info{
display: flex;
padding: 12px 24px;
width: calc(100% / 3);
}
.container__block-1{
display: flex;
align-content:stretch;
margin-left: 100px;
}
.container__content-small{
text-align: left;
}
.container__sale{
display: flex;
flex-direction: column;
}

.container__subtitle-1,
.container__content-1
{
text-align: left;
padding-left: 18px;
padding-right: 12px;
}
 


.icon {
padding: 18px;
border: 1px solid #cccccc;
border-radius: 50px;

}
/*

PROFESSION

*/

#profession{
position: relative;
}

.row-1{
display: flex;
flex-wrap: wrap;
flex-direction: row-reverse;
max-width: 1300px;
width: 100%;
justify-content: space-between;
}
.container__overflow{
overflow: visible;
}
.container__img-2{
position: absolute;
width: 470px;
top: 0px;
left: 0px;
z-index: 2;
}
.box_dots{

  
  background-image: radial-gradient(#5d35b2 2px, transparent 2px); 
  
  
  background-size:5px 5px;
  
  
  
  width: 50px; 
  height: 50px; 
   
  translate: 190px 190px;
  z-index: 1;
}
/*

STEPS

*/
#steps{
position: relative;
padding: 0 26px;
}
.container__img-2-1{
position: absolute;
width 40px

}
.box_dots-p{
background-image: radial-gradient(3px #aa90ff 3px);
}
#testimonial{
position: relative;
padding: 0 26px;
}


#pricing{
position: relative;
}
.container__block-2{
display: flex;
justify-content: space-evenly;
margin-top: 8px;
}
.container__strip-green{
position: absolute;
top: 0;
left: 0px;
right: 0;
width:248px;
height: 5px;

background: linear-gradient(115deg, rgba(0, 84, 0, 0.6), rgba(37, 242, 238, 0.2));

}
.container__pricing--green{
position: relative;
width: 250px;
padding: 40px;
margin: 20px;
text-align: center;
border:1px solid #acacac;
border-radius: 15px;
height: 500px;
overflow: hidden;
}
.container__pricing--purple{
position: relative;
width: 250px;
padding: 40px;
margin: 20px;
text-align: center;
color: #fff;
border: 1px solid transparent;
background-color: #7a05ff;
border-radius: 15px;
height: 500px;
}
.container__strip--red-coral{
position: absolute;
top: 0;
left: 0px;
right: 0;
width:248px;
height: 5px;
background:linear-gradient(115deg, rgba(220, 61, 61, 0.6), rgba(243, 114, 114, 0.4));
}
.container__pricing--red-coral{
position: relative;
width: 250px;
padding: 40px;
margin: 20px;
text-align: center;
border: 1px solid transparent;
border-color: #acacac;
border-radius: 15px;
height: 500px;
overflow: hidden;
}

.container__block-pricing{
line-height: 2.5;
}
.pricing__text{
line-height: 2.5;
}
.pricing__text--white{
line-height: 2.5;

}
.pricing__number{
line-height: 2.5;
}
.pr__txt{
line-height: 2.5;
}
.green-1{
background:linear-gradient(115deg,  rgba(6, 125, 111, 0.6), rgba(37, 242, 238, 0.4));
color:#ffffff;
width: 150px;
height: 30px;
margin-top: 10px;
border: none;
}
.btn-white{
background-color: #ffffff;
color: #7a05ff;
width: 150px;
height: 30px;
margin-top: 10px;
border: none;
}
.red__coral{
background:linear-gradient(115deg, rgba(220, 61, 61, 0.6), rgba(243, 114, 114, 0.4));
color: #ffffff;
width: 150px;
height: 30px;
margin-top: 10px;
border: none;
}