@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html{
scroll-behavior: smooth;
}
h1{
font-size: 56px;
margin-bottom: 16px;
text-align: center;
}
h2{
font-size: 32px;
margin-bottom: 12px;
text-align: center;
}
a {
text-decoration: none;
position: relative;
}
main{
height: calc(100vh - 80px);
}

ul{
list-style-type: none;
}
nav{
height: 80px;
display: flex;
}
button{
border-radius:40px;
}
input{
border-radius: 50px;
}




.row {
 display: flex;

  max-width: 1300px;
  padding: 2px;
}
.container{
display: flex;
width: 50%;
flex-direction: column;
justify-content: center;
align-items: center;
}



.container__content{
text-align: center;
}
.qu-1{
text-align: center;
}
.pl{
color: #7a05ff;
}

/*

TREACT

*/
#treact{
position: relative;
}
.nav__container{
display: flex;
}
.nav__logo{
font-weight: 900;
font-size: 24px;
margin-left: 12px;
padding-top: 6px;
letter-spacing: 0.6px;
}
.nav__img{
max-width: 100%;
width: 40px;
height: 40px;
}

.nav-links{
margin-left: 100px;
display: flex;
justify-content: space-around;
}
.btn-link{
display:grid;
justify-self: start;
max-width: 300px;
background-color: #7a05ff;
color: #fff;
text-align: center;

border-radius: 75px;
padding: 6px 25px;
}
.nav-actions{
display: flex;
justify-content: space-around;
margin-top: 8px;
margin-left: 20px;

}


.nav-link,
.nav-link--btn{
color: #000;
}
.btn{
background-color: #7a05ff;
padding: 12px 24px;
border: none;
color: #fff;

}
.nav-links{
display: flex;
justify-content:space-around;
align-items:baseline;
padding-left: 200px;
width: 100%;
}



.link__hover-effect:hover:after {
 content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect--pl:after {
  background: #7a05ff;
}
.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}
.container-1{
display: flex;
margin-top: 8px;
}


/*


TEMPLATES


*/

#templates{
position: relative;
}

.form__wrapper{

}
.container__content-small{
color: #333333;
margin-top: 120px;
}


.btn{


width: 150px;
margin-left: 20px;
margin-top: 20px;
background-color: #7a05ff;
color: #fff;
border: none;
}
.btn:hover{
background-color: rgba(100, 00, 600, 1.2);
cursor: pointer;
}
.eml{
width: 200px;
height: 100%;
margin-right: 20px;
border: none;

}
.eml:focus{
outline: none;
}
.container__form{
display: flex;
flex-wrap: wrap;
border: 1px solid grey;
border-radius: 700px;
margin: 12px;
width: 100%;
height: 100%;
}
.container__img-logo{
width: 400px;
}
.container__img{
width: 600px;
}
/*

SALE

*/
#sale{
position: relative;
}


.container__info{
display: flex;
margin-top: 24px;
}
.container__block-1{
display: flex;
flex-direction: column;
padding: 12px 8px;
}
.container__content-small{
text-align: left;
}
.container__sale{
display: flex;
flex-direction: column;
}

.container__subtitle-1,
.container__content-1
{
text-align: left;
padding-left: 18px;
padding-right: 12px;
}
 


.icon {
padding: 18px;
border: 1px solid #cccccc;
border-radius: 50px;

}
/*

QUALITY wORK

*/

#profession{
position: relative;
}

.row-1{
display: flex;
flex-direction: row-reverse;
}
.bea{
width: 800px;
}