@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html{
scroll-behavior: smooth;
}
h1{
font-size: 56px;
margin-bottom: 16px;
text-align: center;
}
h2{
font-size: 32px;
margin-bottom: 12px;
text-align: center;
}
a {
text-decoration: none;
position: relative;
}
main{
height: calc(100vh - 80px);
}

ul{
list-style-type: none;
}
nav{
height: 80px;
display: flex;
}
button{
border-radius:40px;
}
input{
border-radius: 50px;
}




.row {
 display: flex;
  width: 100%;
  max-width: 1300px;
  padding: 2px;
}
.contain{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.info-c{
text-align: center;

}
.temp__easy,
.temp__easy-1
{
text-align: center;
max-width: 280px;
}
.qu{
text-align: center;
}
.qu-1{
text-align: center;
}
.pl{
color: #7a05ff;
}

/*

TREACT

*/
#treact{
position: relative;
}

.tre__logo-name{
font-weight: 900;
font-size: 24px;
margin-left: 12px;
padding-top: 6px;
letter-spacing: 0.6px;
}
.word{
max-width: 100%;
width: 40px;
height: 40px;
}
.link__group{
display: flex;
position: relative;


}
.link__group-1{
position: relative;
display: flex;


}
.link__word{
margin: 0 12px;
font-size: 12px;
padding-top: 24px;
}
.link__word-1{
padding-top: 12px;
}
.link__info{
color: #000;
}
.gslm{
background-color: #7a05ff;
padding: 12px 24px;
border: none;
}
.gslm__1{
color: #fff;
}
.link_a{
position: relative;
display: flex;
left: 100%;
}
.link-contain{
position: relative;
display: flex;
}
.link-contain-1{
position: relative;
display: flex;
}


.link__hover-effect:hover:after {
 content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect--pl:after {
  background: #7a05ff;
}
.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}
.container-1{
position: relative;
display: flex;
margin-top: 8px;
}

/*


TEMPLATES


*/

#templates{
position: relative;
}
.comp-a{
display: flex;
flex-direction: column;
margin-top: 50px;
}
.comp-b{
color: #333333;
margin-top: 120px;
}
.img__coml{
width: 650px;
margin-top: 4px;
}
.img__coml-comp{
padding-left: 80px;
}

.img__coml, 
.img__coml-comp{
margin-bottom: 8px;
}
.bota{
position: absolute;
padding:  20px 60px;
background-color: #7a05ff;
color: #fff;
border: none;
}
.bota:hover{
background-color: rgba(100, 00, 600, 1.2);
cursor: pointer;
}
.eml{
position: relative;
padding: 20px 20px;
border: none;
}
.eml:focus{
outline: none;
}
.em{
display: flex;
border: 1px solid grey;
border-radius: 700px;
margin: 12px;
padding: 4px 200px;
}
.form__wrapper{
margin: 6px 0;
}
/*

SALE

*/
#sale{
position: relative;
}

.container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}
.info{
display: flex;
margin-top: 24px;
}
.info__features{
display: flex;
flex-direction: column;
padding: 12px 8px;
}
.info-c{
text-align: left;
}

.temp__easy-1{
text-align: left;
padding-top: 36px;
}

.sp{
padding: 0 8px;


}
.sp__ll{
padding: 18px;
border: 1px solid #cccccc;
border-radius: 50px;
}
/*

QUALITY wORK

*/

#profession{
position: relative;
}

.row-1{
display: flex;
flex-direction: row-reverse;
}
.bea{
width: 800px;
}