@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:wght@400;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
html{
scroll-behavior: smooth;
}
h1{
font-size: 36px;
}
h2{
font-size: 24px;
}
a {
text-decoration: none;
position: relative;
}
main{
height: calc(100vh - 80px);
}

ul{
list-style-type: none;
}
nav{
height: 80px;
display: flex;
}
button{
border-radius:40px;
}
input{
border-radius: 50px;
}




.row {
 display: flex;

  width: 100%;
  max-width: 1300px;
  
  padding: 2px;
}
.contain{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.info-c{
text-align: center;
}
.temp__easy{
text-align: center;
}
/*

TREACT

*/
#treact{
position: relative;
}

.tre__logo-name{
font-weight: 900;
font-size: 24px;
margin-left: 12px;
padding-top: 6px;
letter-spacing: 0.6px;
}
.word{
max-width: 100%;
width: 40px;
height: auto;
}
.link__group{
display: flex;
position: relative;
padding-top: 8px;

}
.link__group-1{
position: relative;
display: flex;
padding-top: 8px;

}
.link__word{
margin: 0 12px;
font-size: 12px;
}
.link__info{
color: #000;
}
.link_a{
position: relative;
display: flex;
margin-left: 700px;
}
.link-contain{
position: relative;
display: flex;
}
.link-contain-1{
padding: 0 12px;
}


.link__hover-effect:hover:after {
 content: "";
  position: absolute;
  height: 3px;
  width: 0;
  bottom: -3px;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect--pl:after {
  background: #7a05ff;
}
.link__hover-effect:hover:after {
  width: 100%;
  left: 0;
}
.container-1{
position: absolute;
display: flex;
}

/*


TEMPLATES


*/

#templates{
position: relative;
}

.img__coml{
width: 500px;
}
.img__coml-comp{
width: 700px;
}
.bota{
position: absolute;
padding:  10px 30px;
background-color: #7a05ff;
color: #fff;
border: none;
}
.bota:hover{
background-color: rgba(100, 00, 600, 1.2);
cursor: pointer;
}
.eml{
position: relative;
padding: 12px 84px;
border: none;
}
.eml:focus{
outline: none;
}
.em{
display: flex;
border: 1px solid grey;
border-radius: 40px;
}
.form__wrapper{
margin: 6px 0;
}